<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<a href="/users/selectCity">Change city</a>
<a style="float:right" href="/logout"><b>Logout</b></a>


<table th:object="${city}"  align="center" border="1">
    <thead>
    <tr align="center">
        <td colspan="3">
            <a th:text="${city.cityName+', '+city.country}"/>
        </td>
    </tr>
    <tr>
        <td colspan="3" align=center valign=top>
            <a th:text="${city.region}"/>
        </td>
    </tr>
    </thead>

    <tbody th:object="${cityWeather}">
    <tr>
        <td align="right">
            Temperature
        </td>
        <td align="center">
            <a th:text="${cityWeather.get('Temperature')}"/>
        </td>
        <td></td>
    </tr>
    <tr>
        <td align="right">Feels like:</td>
        <td align="center">
            <a th:text="${cityWeather.get('RealFeelTemperature')}"/>
        </td>
        <td></td>
    </tr>
    <tr>
        <td align="right">Wind</td>
        <td align="center">
            <a th:text="${cityWeather.get('Wind')}"/>
        </td>
        <td></td>
    </tr>
    <tr align="center">
        <td colspan="3">
            <img th:src="@{'img/'+${image}+'.png'}" width="120" height="120"/>
        </td>
    </tr>
    <tr align="center">
        <td colspan="3">
            <a th:text="${cityWeather.get('IconPhrase')}"/>
        </td>
    </tr>
    </tbody>
</table>


</body>
</html>