<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>


<table class="registerTable">
  <form th:action="@{/users/register}" th:object="${user}" method="post">
  <tbody>
  <tr>
    <td align="center" colspan="3">Please register</td>
  </tr>
  <tr>
    <td>First name:</td>
    <td colspan="2">
      <input th:field="*{firstName}" name="firstName" id="firstName">
      <br>
      <a style="color: red" th:if="${#fields.hasErrors('firstName')}">Invalid name</a>
    </td>
  </tr>
  <tr>
    <td>Last name:</td>
    <td colspan="2">
      <input th:field="*{lastName}" name="lastName" id="lastName">
      <br>
      <a style="color: red" th:if="${#fields.hasErrors('lastName')}">Invalid Surname</a>
    </td>
  </tr>
  <tr>
    <td>E-mail:</td>
    <td colspan="2">
      <input th:field="*{email}" name="email" id="email" type="email">
      <br>
      <a style="color: red" th:if="${#fields.hasErrors('email')}">Invalid email</a>
    </td>
  </tr>
  <tr>
    <td>Password</td>
    <td colspan="2">
      <input th:field="*{password}" name="password" id="password" type="password">
      <br>
      <a style="color: red" th:if="${#fields.hasErrors('password')}">Invalid password</a>
    </td>
  </tr>
  <tr>
    <td>City:</td>
    <td colspan="2">
      <input th:field="*{city}" name="city">
    </td>
  </tr>
  <tr>
    <td></td>
    <td align="right">
      <input type="submit" value="Submit"/>
    </td>
    <td align="left">
      <input  type="reset" value="Clear"/>
    </td>
  </tr>
  </tbody>
  </form>
</table>

</body>
</html>